body {
	margin: 0;
	padding: 0;
	padding-bottom: 100px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

.coverContainer {
	border-bottom: 0.2px solid gray;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
	padding: 2.5%;
}

.coverImage {
	height: 300px;
	width: 330px;
}

.coverTitle {
	display: block;
	font-size: 40px;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
 	-moz-user-select: none;
  -ms-user-select: none;
}

button:focus {outline:0;}

.buttonStyle {
	font-size: 15px;
	cursor: pointer;
	box-shadow: 1.5px 1.5px 0.75px #888888;
	border-radius: 7.5%;
	border: 1px solid #888888;
	background-color: white;
	padding: 3px;
}

.displayInstructionsButton {
	margin-bottom: 50px;
}

.instructions {
	margin-bottom: 50px;
}

.additionModeTogglerContainer {
	margin-bottom: 50px;
}

.additionModeInputContainer {
	margin-bottom: 50px;
}

.additionModeInputContainer {
	margin-bottom: 50px;
}

.checkboxText {
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
}

.additionModeOutput {
	margin: auto;
	max-width: 80%;
}

.error {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%; 
	background-color: rgba(255, 0, 0, 0.25);
	border: 1px solid red;
	border-radius: 5%;
}

.outcome {
	display: inline-block;
	margin-top: 50px;
	/*margin-left: 5%;*/
	margin-right: 5%; 
	vertical-align: top;
}

.miniDiceImage {
	margin-top: 5px;
	height: 20px;
	width: 20px;
	vertical-align: bottom;
}

.probabilityChartContainer {
	display: inline-block;
	vertical-align: middle;
	padding-top: 62px;
	position: relative;
	width: 55%;
}

.middleOfChartText {
	position: absolute;
  font-size: 15px;
  top: 57%;
  right: 45.5%;
}

.gif {
	padding: 50px;
	height: 200px;
	width: 175px;
	border-radius: 50%;
}

li {
    list-style-type: none;
}

@media (min-width: 950px) {
  .middleOfChartText {
	  font-size: 25px;
    top: 54%;
    right: 44%;
	}
}

@media (min-width: 1300px) {
  .middleOfChartText {
	  font-size: 30px;
    top: 53%;
    right: 44%;
	}
}

@media (max-width: 830px) {
  .middleOfChartText {
	  top: 59%;
	  right: 44.5%;
	}
}

@media (max-width: 700px) {
  .middleOfChartText {
	  display: none;
	}
}